<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <p>{{ fullName() }}</p>
      <!-- you can use v-bind:href OR :href -->
      <p><a v-bind:href="url" target="_blank">Google </a></p>
      <p v-html="rawUrl"></p>
      <hr>
      <label for="firstName">First Name</label>
      <input v-model="firstName" type="text" name="firstName" id="firstName">
      
      <label for="lastName">Last Name</label>
      <input v-model="lastName" type="text" name="lastName" id="lastName">
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
